<h1>Programs</h1>
<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
<% @programs.each do |program| %>
  <tr>
    <td><%= program.name %></td>
    <td><%= program.description %></td>
    <% if can? :manage, Program %>
    <td><%= link_to 'Show', program_path %></td>
    <% end %>
    <% if can? :manage, Program %>
    <td><%= link_to 'Edit', edit_program_path(program) %></td>
    <% end %>
    <% if can? :manage, Program %>
    <td><%= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' } %></td>
     <% end %>
  </tr>
<% end %>
</table>
<% if can? :manage, Program  %>
  <%= link_to 'New Program', new_program_path %>
<% end %>