<h1>Bookings</h1>

<table>
  <tr>
    <th>Cohort</th>
    <th>Classroom</th>
    <th>Start Date</th>
    <th>End Date</th>
    <th>Show</th>
    <th>Edit</th>
    <th>Destroy</th>
  </tr>

<% @bookings.each do |booking| %>
  <tr>
    <td><%= booking.cohort.name %></td>
    <td><%= booking.classroom.name %></td>
    <td><%= booking.start_date %></td>
    <td><%= booking.end_date %></td>
    <td><%= link_to 'Show', booking %></td>
    <td><%= link_to 'Edit', edit_booking_path(booking) %></td>
    <td><%= link_to 'Destroy', booking, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Booking', new_booking_path %>
