<%= form_for(@teaching_assignment) do |f| %>
  <% if @teaching_assignment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@teaching_assignment.errors.count, "error") %> prohibited this teaching_assignment from being saved:</h2>

      <ul>
      <% @teaching_assignment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :cohort %><br />
    <%= f.text_field :cohort %>
  </div>
  <div class="field">
    <%= f.label :user %><br />
    <%= f.text_field :user %>
  </div>
  <div class="field">
    <%= f.label :salary %><br />
    <%= f.number_field :salary %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
