<h1>Teaching Assignments</h1>

<table>
  <tr>
    <th>Cohort</th>
    <th>Teacher</th>
    <th>Salary</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @teaching_assignments.each do |teaching_assignment| %>
  <tr>
    <td><%= teaching_assignment.cohort.name %></td>
    <td><%= teaching_assignment.teacher.first_name %></td>
    <td><%= teaching_assignment.salary %></td>
    <td><%= link_to 'Show', teaching_assignment %></td>
    <td><%= link_to 'Edit', edit_teaching_assignment_path(teaching_assignment) %></td>
    <td><%= link_to 'Destroy', teaching_assignment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Teaching Assignment', new_teaching_assignment_path %>
